/* body {
    background-color: white;
    font-family: 'Teko', sans-serif;
  }
  
  h1 {
    color: hotpink;
    text-align: center;
  }
  
  ul {
    color: black;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 20px;
  }

  #checkbox {
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: e;
  } */

/* font-family: 'Julius Sans One', sans-serif;
font-family: 'Secular One', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Seaweed Script', cursive;
font-family: 'Major Mono Display', monospace;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Dawning of a New Day', cursive;
font-family: 'Mrs Saint Delafield', cursive; */